/* styles.css */

#map {
    height: 550px;
    width: 100%; /* Adjust as needed */
    position: relative; /* Relative positioning for container */
}

h1 img {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
}

#map-controls {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    position: absolute; /* Absolute positioning for controls */
    top: 10px; /* Adjust top position as needed */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    z-index: 1;
    text-align: center; /* Center the buttons */
}

#map-controls button, #map-controls select {
    margin-right: 5px;
    width: 50px; /* Set width for button icons */
    height: 40px; /* Set height for button icons */
    display: inline-block; /* Display buttons as inline-block elements */
    margin-bottom: 5px; /* Add minimal space between buttons */
    padding: 0; /* No padding around buttons */
    vertical-align: middle; /* Align buttons vertically */
    background-size: cover; /* Make the background image cover the button */
    background-repeat: no-repeat; /* Prevent background image repetition */
    cursor: pointer; /* Change cursor to pointer on hover */
}

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.dropdown-icon {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; /* Ensure the image does not intercept click events */
}

#polygon-color {
    padding-left: 25px; /* Adjust padding to accommodate the image */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-menu:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    display: block;
    width: 100%;
    padding: 5px; /* Minimal padding around dropdown buttons */
    text-align: left;
    background-size: cover; /* Make the background image cover the button */
    background-repeat: no-repeat; /* Prevent background image repetition */
}


/* Add CSS to hide all buttons with the class "map-control-button" */
.map-control-button {
    display: none;
}



.switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 15px;
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px; /* Add padding to accommodate icons */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

.view-icon,
.edit-icon {
    height: 18px;
    width: 18px;
    transition: opacity 0.4s, transform 0.4s;
}

.view-icon {
    opacity: 1;
    transform: translateX(3px);
}

.edit-icon {
    opacity: 0;
    transform: translateX(-30px);
}

#modeSwitch:checked + .slider:before {
    transform: translateX(30px);
}

#modeSwitch:checked + .slider .view-icon {
    opacity: 0;
    transform: translateX(30px);
}

#modeSwitch:checked + .slider .edit-icon {
    opacity: 1;
    transform: translateX(1px);
}
